node_modules

/.yarn/*
/.yarn/cache/*
!/.yarn/releases
!/.yarn/plugins
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.ds_store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Sentry
.sentryclirc

# Sentry
.sentryclirc
